
body {
    display: flex;
    background-image: url(background.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;

    
    height: 100vh;
    margin: 0;
}
.container{
    margin:auto;
    margin-top: 50px;
    width:350px;
    height:450p;
    background-color: rgb(74, 74, 231);
}

.calculator {
    text-align: center;
    border-radius: 5px;

}

#display {
    width: 100;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  
}
button:hover{
    background-color:rgb(65, 53, 53) ;
}

button {
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px black;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
h1{
    color:black;
    text-align: center;
}


